[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "modules/foleys_gui_magic"]
	path = modules/foleys_gui_magic
	url = https://github.com/Chowdhury-DSP/foleys_gui_magic.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
[submodule "modules/tuning-library"]
	path = modules/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library
[submodule "modules/chowdsp_wdf"]
	path = modules/chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf
[submodule "modules/oddsound-mts/MTS-ESP"]
	path = modules/oddsound-mts/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
